<nav>
  <div class="logo"></div>
  <ul class="nav_list">
    <li class="nav_list_item textSort">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="nav_list_item li_active">
      <a class="active" [routerLink]="['/circuits']">Circuits</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/drivers']">Drivers</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/seasons']">Seasons</a>
    </li>
  </ul>
</nav>

<header>
  <div class="headline">
    <div class="inner">
      <h1>Circuits</h1>
      <p>All f1 Circuits</p>
    </div>
  </div>
</header>

<section>
  <div class="headTimeline">
    <ol>
      <li class="timeLine" *ngFor="let year of years">
        <p class="diplome">{{year}}</p>
        <span class="point"></span>
      </li>
    </ol>
  </div>
</section>
