div.headTimeline {
  white-space: nowrap;
  overflow-x: scroll;
}

ol {
  position: relative;
  display: inline-block;
  margin: 100px;
  height: 4px;
  background: #31708f;
}

ol::before,
ol::after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid #31708f;
}

ol::before {
  left: -5px;
}

ol::after {
  right: -10px;
  border: 10px solid transparent;
  border-right: 0;
  border-left: 20px solid #31708f;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
li.timeLine {
  position: relative;
  display: inline-block;
  width: 150px;
  font: bold 14px arial;
  height: 50px;
}

li.timeLine .diplome {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}

li.timeLine .point {
  content: "";
  top: -4px;
  left: 43%;
  display: block;
  width: 6px;
  height: 6px;
  border: 4px solid #31708f;
  border-radius: 10px;
  background: #fff;
  position: absolute;
}

/* ---- Hover effects ---- */
li.timeLine:hover {
  cursor: pointer;
  color: #48a4d2;
}
li.timeLine:hover .description {
  display: block;
}
