div.bodyTime {
  display: flex;
}

div.headTimeline {
  white-space: nowrap;
  overflow-x: hidden;
  height: 150px !important;
  overflow-y: hidden;
  justify-content: center;
  margin: 0 auto;
  width: 92%;
}

ol.olTimeLine {
  position: relative;
  display: inline-block;
  margin: 100px;
  height: 40px;
  background: #212121;
  padding: 0;
  margin: 5% 0;

  li.timeLine {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;

    .diplome {
      position: absolute;
      top: -13px;
      left: 37%;
      color: #f9f871;

      &:hover {
        color: #f5f5f5;
        cursor: pointer !important;
      }
    }
  }
}

.prev,
.next {
  height: 0px;
  width: 0px;
  margin: 4.8% 0 0px 1%;
}

div.next button {
  margin: -18px 0 0 -43px;
}

div.prev button {
  margin: -18px 0 0 -8px;
}

.arrowScroll {
  content: "";
  padding: 0;
  font-size: 55px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.5s;
  width: 40px;
  height: 40px;
}

// \00AB\00BB
.leftButton:hover {
  padding-right: 25px;
  font-size: 70px;
  margin: -26px 0 0 -8px !important;
  color: #ef5350;
}

.rightButton:hover {
  padding-right: 25px;
  font-size: 70px;
  margin: -28px 0 0 -43px !important;
  color: #00c853;
  cursor: pointer !important;
}
