<nav>
  <div class="logo"></div>
  <ul class="nav_list">
    <li class="nav_list_item textSort">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="nav_list_item li_active">
      <a class="active" [routerLink]="['/circuits']">Circuits</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/drivers']">Drivers</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/seasons']">Seasons</a>
    </li>
  </ul>
</nav>

<header>
  <div class="headline">
    <div class="inner">
      <h1>Circuits</h1>
      <p>All f1 Circuits</p>
    </div>
  </div>
</header>

<section>
  <div class="bodyTime">
    <div id="leftArrow" class="prev">
      <button
        class="arrowScroll leftButton"
        [disabled]="statusRight"
        (click)="scrollOl('right')"
      >
        &#xab;
      </button>
    </div>

    <div class="headTimeline" id="headTimelineD">
      <ol class="olTimeLine">
        <li class="timeLine" *ngFor="let year of years">
          <p class="diplome" (click)="getCircuitforYear(year)">{{ year }}</p>
          <span class="point"></span>
        </li>
      </ol>
    </div>

    <div id="rightArrow" class="next">
      <button
        class="arrowScroll rightButton"
        [disabled]="statusLeft"
        (click)="scrollOl('left')"
      >
        &#xbb;
      </button>
    </div>
  </div>
</section>
