$whiteColor: #f5f5f5;
$colorWhite: #fbe9e7;
$redColor: #ef5350;
$blackColor: #212121;

nav {
  position: fixed;
  width: 100%;
  z-index: 10;

  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }
}

nav.scrolled {
  background: rgba(17, 17, 17, 0.9);
}

.nav_list li {
  text-transform: uppercase;
  animation: 2s slideUp ease forwards 0.5s;
  position: relative;
  float: left;

  a {
    font-size: 18px;
    color: $whiteColor;
    text-decoration: none;
    margin-right: 20px;
    display: block;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $colorWhite;
    }
  }

  a.active {
    color: $redColor;

    &:hover {
      color: $blackColor;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 0px;
    background: $redColor;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  &.li_active::before {
    content: none;
  }

  &.textSort:hover:before {
    width: 75%;
  }

  &:hover:before {
    width: 82%;
  }
}

.logo {
  height: 75px;
  float: left;
  background-image: url("../../../assets/img/local.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* nav-toggler css start */
.nav-toggler {
  border: 2px solid $whiteColor;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  border-radius: 8px;
  display: none;

  & span,
  & span:before,
  & span:after {
    width: 28px;
    height: 3px;
    background-color: $whiteColor;
    display: block;
    transition: 0.3s;
  }

  & span:before {
    content: "";
    transform: translateY(-9px);
  }

  & span:after {
    content: "";
    transform: translateY(6px);
  }

  &.toggler-open span {
    background-color: transparent;
  }

  &.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }

  &.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
}
/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
    margin: 15px 15px 0 0;
  }
  .site-navbar {
    min-height: 60px;
    display: flex !important;
    justify-content: end;

    & ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.9);
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      padding: 0 !important;
    }
    & ul li {
      width: 100%;
      text-align: center;
    }
    & ul li a {
      padding: 25px;
    }
    & ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    li:hover:before {
      width: 92% !important;
    }
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */
