<nav>
  <div class="logo"></div>
  <ul class="nav_list">
    <li class="nav_list_item"><a [routerLink]="['/']">Home</a></li>
    <li class="nav_list_item"><a [routerLink]="['/drivers']">Drivers</a></li>
    <li class="nav_list_item"><a [routerLink]="['/circuits']">Circuits</a></li>
    <li class="nav_list_item"><a [routerLink]="['/seasons']">Seasons</a></li>
  </ul>
</nav>

<header>
  <div class="headline">
    <div class="inner">
      <h1>Seasons</h1>
      <p>All f1 Seasons</p>
    </div>
  </div>
</header>

<section>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>
  <p>Seasons</p>

</section>
