<nav>
  <div class="logo"></div>
  <ul class="nav_list">
    <li class="nav_list_item textSort">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/circuits']">Circuits</a>
    </li>
    <li class="nav_list_item li_active">
      <a class="active" [routerLink]="['/drivers']">Drivers</a>
    </li>
    <li class="nav_list_item">
      <a [routerLink]="['/seasons']">Seasons</a>
    </li>
  </ul>
</nav>

<header>
  <div class="headline">
    <div class="inner">
      <h1>Drivers</h1>
      <p>All f1 drivers</p>
    </div>
  </div>
</header>

<section class="bodySection">
  <div class="wrapper">
    <div class="search_box">
      <div class="dropdown">
        <div class="default_option">All</div>
        <ul>
          <li>All</li>
          <li>Recent</li>
          <li>Popular</li>
        </ul>
      </div>
      <div class="search_field">
        <input type="text" class="input" placeholder="Search" />
      </div>
    </div>
  </div>
</section>

<!-- Fazer uma paginação  -->

<!-- https://github.com/Dinuks/country-nationality-list/blob/master/countries.json -->
