* {
  box-sizing: border-box;
}

.containerOfCards {
  align-content: center;
  display: flex;
  margin-bottom: 4%;
  padding: 0 15%;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 46%;
  display: flex;
  padding: 2%;
  margin: 0 2%;
  border-radius: 8px;

  h4 {
    animation: 2s slideUp ease forwards 0.8s;
    position: relative;
  }

  h4::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 0px;
    left: 0;
    bottom: 0px;
    background: #212121;
    transition: all 0.8s ease;
    overflow: hidden;
  }

  h4.textLong:hover::before {
    width: 54%;
  }

  h4.textSort:hover::before {
    width: 25%;
  }

  h4:hover:before {
    width: 29%;
  }

  a {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    display: block;
    transition: all 0.8s ease-in-out;
  }

  a:hover {
    color: #ef5350;
  }
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.containerCards {
  margin: 0 2%;
  width: 100%;
  text-align: left;
}

.card img {
  width: 20%;
  padding: 0 2%;
}
